
@font-face {
    font-family: 'royal_acidregular';
    src: url('../trivia_fonts/royalacid-webfont.woff2') format('woff2'),
         url('../trivia_fonts/royalacid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'royal_acidbathoutline';
    src: url('../trivia_fonts/royalacid_o-webfont.woff2') format('woff2'),
         url('../trivia_fonts/royalacid_o-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background: white;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
}

.startBox {
    display: flex;
    justify-content: center;
    background: black;
    margin: 10vmin;
}

.buttonStartGame {
    border: none;
    background: transparent;
    font-size: 4vmin;
    margin: 2.5vmin;
    font-family: 'royal_acidregular';
    color: red;
}

.gameHeader {
    background: white;
    display: block;
    text-align: center;
    margin: 3vmin 0 0 0;
    font-size: 17vmin;
    font-family: 'royal_acidregular';
    color: red;
}

h1 {
    background: white;
    display: block;
    margin: -1.5vmin 0 7vmin 0;
    text-align: center;
    font-size: 2.5vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: #f72c3a; 
    text-transform: uppercase;
}

.gameBox {
    display: none;
    justify-content: center;
    flex-direction: column;
    /* grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr); */
    background: red;
    
    /* margin: 12vmin; */
}

#gameQuestion {
    margin: 4vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    background: red;

    text-align: left;
    font-size: 4vmin;
    font-family: 'royal_acidregular';
    color: white;
}

.answerContainer {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameAnswer {
    display: block;
    border: none;
    background: red;
    margin-top: 2vmin;
    align-content: center;
    margin-bottom: 2vmin;
    text-align: center;
    font-size: 3vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.nextQuestion {
    border: none;
    background: red;
    margin: 4vmin;
    font-size: 4vmin;
    font-family: 'royal_acidregular';
    color: white;
    display: none;
    /* grid-column: 9 / span 4; */
}

.tallyBox {
    display: none;
    margin-bottom: 1vw;
    align-content: center;
    background: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    
}

.finishBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    background: black;
    margin: 10vmin;
}

.finishAlert {
    margin: 4vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    background: red;
    text-align: left;
    font-size: 4vmin;
    font-family: 'royal_acidregular';
    color: white;
}

.finishButton {
    border: none;
    background: transparent;
    font-size: 4vmin;
    margin: 2.5vmin;
    font-family: 'royal_acidregular';
    color: red;
}

.correctAnswer {
    display: block;
    border: none;
    background: white;
    margin-top: 2vmin;
    align-content: center;
    margin-bottom: 2vmin;
    text-align: center;
    font-size: 4.5vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: red;
}

.wrongAnswer {
    display: block;
    border: none;
    background: black;
    margin-top: 2vmin;
    align-content: center;
    margin-bottom: 2vmin;
    text-align: center;
    font-size: 3vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}