@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.startHeader {
    background: lightblue;
    display: block;
    text-align: center;
    font-size: 17vmin;
}

.startBox {
    display: flex;
    justify-content: center;
    background: white;
    margin: 10vmin;
}

.linkStartGame {
    display: flex;
    background: lightcoral;
    margin: 4vmin;
}

.buttonStartGame {
    background: transparent;
    font-size: 4vmin;
}

/* /////////////////////------game.html styling------//////////////////////////// */

.gameHeader {
    background: lightblue;
    display: block;
    text-align: center;
    font-size: 17vmin;
}

.gameBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin: 10vmin;
}

#gameQuestion {
    display: block;
    background: lightblue;
    font-size: 4vmin;
    margin: 2vmin;
}

.gameAnswer {
    background: lightcoral;
    margin: 2vmin;
    font-size: 3vmin;
}

/* .gameAnswer2 {
    background: green;
    margin: 2vw;
    font-size: 2vw;
}

.gameAnswer3 {
    background: orange;
    margin: 2vw;
    font-size: 2vw;
} */