@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.startHeader {
    background: lightblue;
    display: block;
    text-align: center;
    font-size: 17vmin;
}

.startBox {
    display: flex;
    justify-content: center;
    background: white;
    border: 5vw solid lightcoral;
    margin: 10vmin;
}

.buttonStartGame {
    background: transparent;
    font-size: 4vmin;
    margin: 2.5vw;
}

/* /////////////////////------Game Styling------//////////////////////////// */

.gameHeader {
    background: lightblue;
    display: block;
    text-align: center;
    font-size: 17vmin;
}

.gameBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin: 10vmin;
}

#gameQuestion {
    display: block;
    background: lightblue;
    font-size: 4vmin;
    margin: 2vmin;
}

.gameAnswer {
    background: lightcoral;
    margin: 2vmin;
    font-size: 3vmin;
}

.answerContainer {
    display: flex;
    justify-content: center;
}

.tallyBox {
    display: none;
    align-content: right;
    height: 10vw;
    width: 20vw;
    background: lightyellow;
    border: 5px solid lightcoral;
}

