@font-face {
    font-family: 'royal_acidregular';
    src: url('../../trivia_fonts/royalacid-webfont.woff2') format('woff2'),
         url('../../trivia_fonts/royalacid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'royal_acidbathoutline';
    src: url('../../trivia_fonts/royalacid_o-webfont.woff2') format('woff2'),
         url('../../trivia_fonts/royalacid_o-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.startBox {
    display: flex;
    justify-content: center;
    background: black;
    margin: 10vmin;
}

.buttonStartGame {
    border: none;
    background: transparent;
    font-size: 4vmin;
    margin: 2.5vw;
    font-family: 'royal_acidregular';
    color: red;
}

.gameHeader {
    background: white;
    display: block;
    text-align: center;
    margin: 3vw 0 0 0;
    font-size: 17vmin;
    font-family: 'royal_acidregular';
    color: red;
}

h1 {
    background: white;
    display: block;
    text-align: center;
    padding: -15px 0 2vw 0;
    font-size: 2.5vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: #f72c3a; 
    text-transform: uppercase;
}

.gameBox {
    display: none;
    grid-template-rows: 1fr;
    grid-template-columns: 12fr;
    background: white;
    margin: 0 5vmin 0 5vmin;
}

#gameQuestion {
    margin: 4vmin;
    background: white;
    grid-column: 1 / span 6;
    flex-wrap: wrap;

    text-align: left;
    font-size: 4vmin;
    font-family: 'royal_acidregular';
    font-weight: 50;
    color: red;
    
}

.answerContainer {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    grid-column: 7 / span 4;
}

.gameAnswer {
    border: none;
    background: white;
    margin: 2vmin;
    font-size: 3vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: red;
}

.nextQuestion {
    border: none;
    background: white;
    margin: 2vmin;
    font-size: 3vmin;
    font-family: 'royal_acidregular';
    color: red;
    grid-column: 11 / span 2;
}

.tallyBox {
    display: none;
    align-content: center;
    text-align: center;
    position: absolute;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

